{% load crispy_forms_tags %}

<!--basic information ---------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="basicinformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="basicinformationTitle">Edit Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} " enctype="multipart/form-data">
        <div class="modal-body">

          {% csrf_token %}
            <div class="form-group">
              {{ form_profile.picture|as_crispy_field }}
              {{ form_user.first_name|as_crispy_field }}
              {{ form_user.last_name|as_crispy_field }}
              {{ form_user.email|as_crispy_field}}
              {{ form_profile.occupation|as_crispy_field }}
              {{ form_contact.personal_contact|as_crispy_field }}
              {{ form_contact.office_contact|as_crispy_field }}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="basic" type="submit" value="Submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Address---------------------------------------------------------------------------------------------------------------------------->
<div class="modal fade bd-example-modal-xl" id="addressinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressinfoTitle">Edit Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} ">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-row">
            <div class="col">
              {{ form_address.address|as_crispy_field }}
              {{ form_address.zip_code|as_crispy_field }}
              {{ form_address.state|as_crispy_field}}
              {{ form_address.country|as_crispy_field }}
            </div>
            <div class="col">
              {{ form_address.office_address|as_crispy_field }}
              {{ form_address.office_zip_code|as_crispy_field }}
              {{ form_address.office_state|as_crispy_field}}
              {{ form_address.office_country|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="addressinfo" type="submit" value="Submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--add skill---------------------------------------------------------------------------------------------------------------------------->

<div class="modal fade bd-example-modal-lg" id="skill" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="skillinfoTitle">Add Skill</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form method="post" action="{% url 'profile' %} ">
    <div class="modal-body">
    {% csrf_token %}
    {{add_skill_form|crispy}}
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button name="add-skill" type="submit" class="btn btn-primary">Add</button>
    </div>
    </form>
    </div>
  </div>
</div>

<!--add cause---------------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="cause" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="causeinfoTitle">Add Cause</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} ">
        <div class="modal-body">

          {% csrf_token %}
          {{add_cause_form|crispy}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="add-cause" type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--add NGO---------------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="ngo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="causeinfoTitle">Add NGO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} ">
        <div class="modal-body">

          {% csrf_token %}
          {{add_ngo_form|crispy}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="add-ngo" type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--add Education---------------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="education" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="causeinfoTitle">Add Education</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} ">
        <div class="modal-body">

          {% csrf_token %}
          {{add_education_form|crispy}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="add-education" type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--add Experiance---------------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="experiance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="causeinfoTitle">Add Experiance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %} ">
        <div class="modal-body">

          {% csrf_token %}
          {{add_experiance_form|crispy}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button name="add-experiance" type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
