<!--basic information -->
<div class="modal fade" id="basicinformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'edit_profile' %} ">
        <div class="modal-body">

          {% csrf_token %}
            <div class="form-group">
              {{form.as_p}}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input name="basic" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
