{% extends 'base.html' %}



{% block content %}
<style type="text/css">
  .card{
    margin-left: 300px;
    margin-right: 300px;
  }

  table{
    margin-left:100px;
  }

</style>

<div class="card">
  <h5 class="card-header h5">My Profile</h5>
  <div class="card-body">

    <table>
      <tr>
        <td>
          <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
              <h5 style="text-align: center;">Profile Picture</h5>
              <img src="{{ user.profile.picture.url }}" class="img-responsive" style="width: 70%; margin-left: 40px;" />
          </div>
        </td>

        <td>
          <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
              <h5 style="text-align: center;">Profile Picture</h5>
              <img src="{{ user.profile.picture.url }}" class="img-responsive" style="width: 70%; margin-left: 40px;" />
          </div>
        </td>

        <td>
          <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
              <h5 style="text-align: center;">Profile Picture</h5>
              <img src="{{ user.profile.picture.url }}" class="img-responsive" style="width: 70%; margin-left: 40px;" />
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="card-footer  border shadow-sm">
      <a href="{% url 'edit_profile' %}">Edit</a>
  </div>
</div>



{% endblock content %}
