{% extends 'base.html' %}



{% block content %}
<style type="text/css">
  .card{
    margin-left: 300px;
    margin-right: 300px;
  }

  table{
    margin-left:120px;
  }


</style>

<div class="card">
  <h4 class="card-header" style="text-align:center;">My Profile</h4>
  <div class="card-body">

    <div class="row">
      <div class="col-sm-4">
        <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
            <h5 style="text-align: center;">Profile Picture</h5>
            <hr>
            <img src="{{ user.profile.picture.url }}" class="img-responsive" style="width: 70%; margin-left: 40px;" />
            <hr>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
            {% for x in profile %}
              <p>{{ x.occupation }}</p>
            {% endfor %}
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card border shadow-sm" style="width: 47rem; height:auto; margin: 10px; padding: 20px;">
            <h5 style="text-align: center;">Address</h5>
            <hr>
            {% for add in address %}
              </h6>{{add.address}}</h6><br>
              </h6>{{add.zip_code}}</h6><br>
              </h6>{{add.state}}</h6><br>
              </h6>{{add.country}}</h6><br>
            {% endfor %}
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
                <h5 style="text-align: center;">Contact</h5>
                <hr>
                {% for x in contact %}
                  </h6>{{x.office_contact}}</h6><br>
                  </h6>{{x.personal_contact}}</h6>
                {% endfor %}
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
                <h5 style="text-align: center;">Education</h5>
                <hr>
                {% for x in education %}
                  </h6>{{x.level}}</h6><br>
                  </h6>{{x.description}}</h6>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    


  </div>

  <div class="card-footer  border shadow-sm" style="text-align:center;">
      <a href="{% url 'edit_profile' %}">Edit</a>
  </div>
</div>



{% endblock content %}

<table>
  <tr>
    <td rowspan="2">
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Profile Picture</h5>
          <hr>
          <img src="{{ user.profile.picture.url }}" class="img-responsive" style="width: 70%; margin-left: 40px;" />
          <hr>
          <p>{{user.first_name}} {{user.last_name}}</p>
          <p>{{user.username}}</p>
          <p>{{user.email}}</p>
          {% for x in profile %}
            <p>{{ x.occupation }}</p>
          {% endfor %}
      </div>
    </td>

    <td colspan="2" rowspan="2">
      <div class="card border shadow-sm" style="width: 40rem; height:auto; margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Address</h5>
          <hr>
          {% for add in address %}
            </h6>{{add.address}}</h6><br>
            </h6>{{add.zip_code}}</h6><br>
            </h6>{{add.state}}</h6><br>
            </h6>{{add.country}}</h6><br>
          {% endfor %}
      </div>
    </td>
  </tr>

  <tr></tr>

  <tr>
    <td rowspan="3">

    </td>

    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Contact</h5>
          <hr>
          {% for x in contact %}
            </h6>{{x.office_contact}}</h6><br>
            </h6>{{x.personal_contact}}</h6>
          {% endfor %}
      </div>
    </td>

    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Education</h5>
          <hr>
          {% for x in education %}
            </h6>{{x.level}}</h6><br>
            </h6>{{x.description}}</h6>
          {% endfor %}
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Skill</h5>
          <hr>
          {% for skills in skill %}
            <span class="badge badge-info" style="margin-bottom:5px; margin-left:50px; width:60%;">{{skills.skill}}</span>
          {% endfor %}
      </div>
    </td>

    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Cause</h5>
          <hr>
          {% for causes in cause %}
            <span class="badge badge-info" style="margin-bottom:5px; margin-left:50px; width:60%;">{{causes.cause}}</span>
          {% endfor %}
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">NGO</h5>
          <hr>
          {% for ngos in ngo %}
            <span class="badge badge-info" style="margin-bottom:5px; margin-left:50px; width:60%;">{{ngos.name}}</span>
          {% endfor %}
      </div>
    </td>

    <td>
      <div class="card border shadow-sm" style="width: 20rem;  margin: 10px; padding: 20px;">
          <h5 style="text-align: center;">Experience</h5>
          <hr>
          {% for x in experiance %}
            </h6>{{x.detail}}</h6>
          {% endfor %}
      </div>
    </td>
  </tr>

</table>
