{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
{% fontawesome_stylesheet %}
<style>
.row{
    margin-left: 15%;
		margin-right: 15%

  }
.card{
	text-align:center;
}

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
</style>

{% if messages %}
  <div class="alert success" role="alert">
    {% for message in messages %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong>&nbsp;{{ message }}
    {% endfor %}
  </div>
{% endif %}

<!---Create event button--->
{% if request.user.is_authenticated and request.user.is_staff %}
<a href="{% url 'create_event' %}" class="float" data-toggle="modal" data-target="#createevent">
	<i class="fa fa-plus my-float"></i>
</a>
<div class="label-container">
	<div class="label-text">Create Event</div>
	<i class="fa fa-play label-arrow"></i>
</div>
{% endif %}
<!---Create event button end--->
<section class="header" style="text-align:center; margin-bottom:30px;"><h1>Events List</h1></section>
<section class="active_event">
		<div class="row">
		    {% for event in events %}
						<div class="col-sm-4">
							<div class="card shadow-sm">
									 <img class="card-img-top" src="{% static 'baner.jpg' %}" >
									 <div class="card-body mt-2 mb-2">
												<a class="card-title" href="{% url 'detail' event.id %}">{{event.title}}</a><br>
												Date: {{event.start_date}}<br>
						 					  Until: {{event.start_date}}<br>
												Time: {{event.start_time}} ~ {{event.end_time}}<br>
												Location: {{event.location}}
									 </div>
							</div>
							<br>
						</div>
		    {% endfor %}
		</div>
</section>

<section class="inactive_event">

</section>
{% include "event/event_create.html" %}
{% endblock %}

<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
