{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
{% fontawesome_stylesheet %}

<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
  .card-body a {
    font-size: 20px;
  }


</style>

<div class="container">

		<ul class="fa-ul">
			 <li> <span style="font-size: 70px;">{% fontawesome_icon 'plus-circle' li=True large=True %}</span></li>
		</ul>


    {% for event in events %}
		  <div class="card m-auto border-bottom shadow sm">
			     <img class="card-img-top" src="" >
			     <div class="card-body mt-2 mb-2">
			          <a class="card-title" href="{% url 'detail' event.id %}">{{event.title}}</a>
			     </div>
      </div>
      <br>
    {% endfor %}
</div>

{% endblock %}
