{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
{% fontawesome_stylesheet %}
<style>
.row{
    margin-left: 15%;
		margin-right: 15%

  }
.card{
	text-align:center;
}
</style>

<section class="header" style="text-align:center; margin-bottom:30px;"><h1>Recommended Events</h1></section>

<section class="active_event">
		<div class="row">
		    {% for event in events %}
          {% for x in rec_id %}
            {% if x == event.id %}
      						<div class="col-sm-4">
      							<div class="card shadow-sm">
      									 <img class="card-img-top" src="" >
      									 <div class="card-body mt-2 mb-2">
      												<a class="card-title" href="{% url 'detail' event.id %}">{{event.title}}</a><br>
      												Date: {{event.start_date}}<br>
      						 					  Until: {{event.start_date}}<br>
      												Time: {{event.start_time}} ~ {{event.end_time}}<br>
      												Location: {{event.location}}
      									 </div>
      							</div>
      							<br>
                    </div>
              {% endif %}
					{% endfor %}
		    {% endfor %}
		</div>
</section>
{% endblock %}
