{% load static %}
{% load crispy_forms_tags %}
{% load fontawesome %}

<div class="card border-bottom shadow sm" style="width:88%;">

  <div class="card-header">
      <table style="float:right;"><tr>
        <td>
            <form method="post" action="{% url 'detail' events.id %} ">
              {% csrf_token %}
              {% if current_event.first == None %}
                <button name="join-event" type="submit" class="btn btn-primary">Join Event</button>
              {% else %}
                <button name="unjoin-event" type="submit" class="btn btn-primary">Unjoin</button>
              {% endif %}
            </form>
        </td>
      </tr></table>
  </div>

<div class="card-body">
  <h2 >{{events.title}}</h2>
  </p>Event Description</p>
  <img src="{% static 'baner.jpg' %}" class="img-fluid">
  <hr>
  <div class="row xs-mt-20" style="text-align:left;">

  <div class="col-sm-4">
      <h4>Detail</h4>
      <ul class="fa-ul">
        <li>{% fontawesome_icon 'calendar' li=True %} Date: {{events.start_date}} ~ {{events.start_date}}</li>
        <li>{% fontawesome_icon 'hourglass-half' li=True %} Time: {{events.start_time}} ~ {{events.end_time}}</li>
        <li>{% fontawesome_icon 'map-marker' li=True %} Location: {{events.location}}</li>
      </ul>
  </div>
  <div class="col-sm-4">
      <h4>Category</h4>
      {% for activity in events.activity.all %}
        <a class="badge badge-info">{{activity.category}}</a>
      {% endfor %}
  </div>

  </div>

</div>
</div>


<div class="card  shadow sm" style="width:88%; margin-top:10px; ;">
<header class="card-header" style="text-align:center;">
  <h6 class="title">Activity</h6>
</header>
<div class="card-body">
  <ul class="fa-ul">
  {% for activity in events.activity.all %}
      <li>{% fontawesome_icon 'tasks' li=True %}Task      : {{activity.title}}</li>
      <div class="collapse" id="activity">
      <li>Description: {{activity.description}}</li>
      <li>Involvement: {{activity.collaboration}}</li>
      <hr>
      </div>
  {% endfor %}

  </ul>
  <div style="text-align:center;">
    <button  class="btn btn-info" data-toggle="collapse" data-target="#activity"><ul class="fa-ul"><li> {% fontawesome_icon 'arrow-down' li=True %}</li></ul></button>
  </div>

</div>
</div>
